@charset "ISO-8859-1";

html, body, .container {
	height: 100%;
}

.row {
	height: 15%;
	width: 100%;
	'
}

.btn {
	height: 80%;
	font-size: 300%;
}

#firstColBtn, #secondColBtn {
	width: 85%;
	vertical-align: middle;
}