@charset "ISO-8859-1";

html, body, .container {
	height: 100%;
}

.tableStyle {
	width: 100%;
}

.exerciseTableNameCell {
	height: 60%;
	font-size: 200%;
}

.exerciseTableButtonCell {
	height: 60%;
	font-size: 150%;
	margin-right: 10%;
}

