<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bodyparts.css">
 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Body Parts</title>
</head>
<body>
	<div class="container">
		<h1 align="center">Body Parts</h1>
		<div class="row" th:each="bodyPart, iter : ${bodyParts}">
			<div class="col-lg">
				<form th:action="@{/bodyparts/} + ${bodyPart.id}" method="post">
					<button id="firstColBtn" type="submit" class="btn btn-primary btn-lg btn-block" th:if="${iter.index} % 2 == 0" th:text="${bodyPart}"></button>
				</form>
			</div>
			<div class="col-lg">
				<form th:action="@{/bodyparts/} + ${bodyPart.id}" method="post">
					<button id="secondColBtn" type="submit" class="btn btn-primary btn-lg btn-block" th:if="${iter.index} % 2 != 0" th:text="${bodyPart}"></button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>