<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/exercises.css">
 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Exercises</title>
</head>
<body>
	<div class="container">
	<h1 align="center" th:text="${bodypart.name}" ></h1>
	
	<!-- Buttons -->
	<form th:action="@{/bodyparts/}" method="get">
		<button type="submit" class="btn btn-lg btn-info">Back</button>
	</form>
	
	<button type="submit" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal">Add New Exercise</button>
	
	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Exercise</h4>
        </div>
        <div class="modal-body">
          	<div class="form-group">
          		<form th:action="${bodypart.id} + @{/addExercise}" method="post">
			  		<label for="exer">Add Exercise</label>
			  		<input type="text" name="newExercise" class="form-control" id="exer" placeholder="Enter your new exercise">
			  		<button type="submit" class="btn btn-info">Save</button>
				</form>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
	<!--  All exercises are listed in this table -->
		<table class="tableStyle">
			<tr th:each="exercise : ${allExercises}">
				<td class="exerciseTableNameCell" th:text="${exercise.name}"></td>
				<td>
					<form th:action="@{/delete/} + ${bodypart.id} + @{/} + ${exercise.name}">
						<button type="submit" class="btn btn-sm btn-danger exerciseTableButtonCell"
						onclick="return confirm('Are you sure?')">Delete</button>
					</form>
				</td>
				<td>
					<form th:action="@{/bodyparts/} + ${bodypart.id} + @{/} + ${exercise.id} + @{/list}">
						<button type="submit" class="btn btn-sm btn-primary exerciseTableButtonCell"
						>Get Details</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>