<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/exercises.css">
 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Workout Exercises</title>
</head>
<body>
	<div class="container">
        <div class="modal-body">
			<h1 align="center">Recorded exercises</h1>
			<!-- Buttons -->
			<form th:action="@{/bodyparts/} + ${bodyPart.id}" method="get">
				<button type="submit" class="btn btn-lg btn-info">Back</button>
			</form>

			<button type="submit" class="btn btn-lg btn-success" data-toggle="modal"
					data-target="#exerciseRecorder">Record One More Exercise</button>

			<!-- Modal -->
			<div class="modal fade" id="exerciseRecorder" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Record New Exercise</h4>
						</div>
          	<div class="form-group">
          		<form th:action="@{/bodyparts/} + ${bodyPart.id} + @{/} + ${exercise.id} + @{/list/add}" method="post">
			  		<label for="sets">Add Sets</label>
			  		<input type="number" name="sets" class="form-control" id="sets" placeholder="Enter number of sets">
			  		<label for="reps">Add Reps</label>
			  		<input type="number" name="reps" class="form-control" id="reps" placeholder="Enter number of repetitions">
			  		<label for="weight">Add Weight</label>
			  		<input type="number" name="weights" class="form-control" id="weights" placeholder="Enter weights">
			  		<label for="date">Add Date</label>
			  		<input type="date" name="date" class="form-control" id="date">
			  		<button type="submit" class="btn btn-info">Save</button>
				</form>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
	
	<!--  All workout exercises are listed in this table -->
		<table class="tableStyle">
		<!--  Table headers -->
			<tr>
				<td class="exerciseTableNameCell"><b>Sets</b></td>
				<td class="exerciseTableNameCell"><b>Reps</b></td>
				<td class="exerciseTableNameCell"><b>Weight</b></td>
				<td class="exerciseTableNameCell"><b>Date</b></td>
			</tr>
			<tr th:each="workoutExercise : ${recordedExercises}">
				<!-- Sets -->
				<td class="exerciseTableNameCell" th:text="${workoutExercise.combination.sets}"></td>
				<!-- Reps -->
				<td class="exerciseTableNameCell" th:text="${workoutExercise.combination.reps}"></td>
				<!-- Weight -->
				<td class="exerciseTableNameCell" th:text="${workoutExercise.combination.weight}"></td>
				<!-- Date -->
				<td class="exerciseTableNameCell" th:text="${workoutExercise.date}"></td>
				<!-- Delete button -->
				<td>
					<form th:action="@{/bodyparts/} + ${bodyPart.id} + @{/} + ${workoutExercise.exercise.id} + @{/} + ${workoutExercise.id} + @{/delete}" method="post">
							<button type="submit" class="btn btn-sm btn-danger exerciseTableButtonCell"
							onclick="return confirm('Are you sure?')">Delete</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>